@mixin button-orange-style {
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: none;
    background-color: $color-compte-nickel;
    color: #fff;
}

$icon-size-only: 24px;
$icon-size: 18px;
$height-button: 54px;

.cn-button {
    position: relative;
    display: inline-block;
    height: $height-button;
    width: auto;
    padding: 0 20px;
    text-align: center;
    border-radius: 35px;
    border: none;
    margin-bottom: 10px;

    &.no-style {
        background-color: transparent;
        border: 0;
    }

    &.next {
        display: block;
        margin: 0px auto;
    }

    .cn-pender {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;

        circle {
            stroke: $color-compte-nickel;
        }
    }

    .device-borne & {
        width:100%;
        max-width: 600px;
        height: 70px;
        font-size: 30px;
        font-weight: 500;
    }

    &.orange {
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: $color-compte-nickel;
        color: #fff;

        &:hover {
            background-color: $color-compte-nickel--dark;
            text-decoration: none;
            box-shadow: none;
        }

        .cn-pender circle {
            stroke: white;
        }
    }
    &.border-grey {
        background-color: #fff;
        color: $color-grey--dark;
        border: 1px solid $color-grey--dark;
        &:hover {
            border-color: $color-compte-nickel;
            color: $color-compte-nickel;
            text-decoration: none;
        }
        &:active, &:focus {
            border-color: $color-compte-nickel;
            background-color: $color-compte-nickel;
            color: white;
        }
    }
    &.icon-right {
        .icon {
            display: inline-block;
            margin-left: 10px;
            font-size: $icon-size;
            height: $icon-size;

            &:before {
                vertical-align: middle;
            }
        }
    }
    &.icon-left {
        .icon {
            display: inline-block;
            margin-right: 10px;
            font-size: $icon-size;
            height: $icon-size;

            &:before {
                vertical-align: middle;
            }
        }
    }
    &.icon-only {
        width: $height-button;
        padding: 0;

        .icon {
            display: block;
            font-size: $icon-size-only;
            &:before {
                vertical-align: text-bottom;
            }
        }
    }
    &.icons {
        position: relative;
        .icon {
            position: absolute;
            font-size: $icon-size;
            left: 30px;
            &:before {
                vertical-align: text-bottom;
            }
            &-a {
                position: absolute;
                font-size: $icon-size;
                right: 30px;
                &:after {
                    vertical-align: text-bottom;
                }
            }
        }
    }
    &:disabled, &:disabled:hover {
        background-color: $color-grey;
        color: white;
        border: 1px solid $color-grey;
        box-shadow: none;
    }
}

@media (max-width: #{map-get($mdc-layout-grid-breakpoints, largephone)}) {
    .cn-button {
        height: 50px;
        width: 280px;
        &.icon-right {
            .icon {
                font-size: 20px;
                right: 20px;
            }
        }
        &.icon-left {
            .icon {
                font-size: 20px;
                left: 20px;
            }
        }
        &.icon-only {
            width: 50px;
            .icon {
                font-size: 20px;
                &:before {
                    line-height: 20px;
                }
            }
        }
        &.icons {
            .icon {
                font-size: 20px;
                left: 20px;
                &-a {
                    font-size: 20px;
                    right: 20px;
                }
            }
        }
    }
}
