.cn-button {
    height: 50px;
    width: 280px;
    text-align: center;
    border-radius: 25px;
    border: 0;
    outline: 0;
    box-shadow: 2px 2px 10px 0 $color-grey;

    &:focus,
    &:active {
        outline: 0;
    }

    &:active {
        box-shadow: none;
    }

    &-default {
        background-color: $color-grey--dark;
        color: white;
    }

    &-orange,
    &-submit {
        background-color: $color-compte-nickel;
        color: white;
    }

    &-border-grey {
        border:1px solid $color-grey--dark;
        color: $color-compte-nickel;
        box-shadow: none;
    }

    &-modal-orange {
        background-color: transparent;
        box-shadow:none;

        .icon {
            color: $color-compte-nickel;
        }
    }

    &.icon-right {
        position: relative;

        .icon {
            position: absolute;
            right: 20px;

            &:before {
                vertical-align: middle;
            }
        }
    }

    &.icon-left {
        position: relative;

        .icon {
            position: absolute;
            left: 20px;

            &:before {
                vertical-align: middle;
            }
        }
    }

    &.icons {
        position:relative;

        .icon {
            position:absolute;
            left:20px;

            &:before {
                vertical-align: middle;
            }

            &-a {
                position:absolute;
                right:20px;

                &:after {
                    vertical-align: middle;
                }
            }
        }
    }

    &.icon-only {
        width: auto;
        padding: 0 20px;
        box-shadow: none;

        .icon {
            display: block;
            font-size: 40px;
            height: 40px;

            &:before {
                vertical-align: text-top;
            }
        }
    }

    &.disabled,
    &[disabled],
    &:disabled {
        cursor: not-allowed;
        background: $color-grey;
        border-color: $color-grey;
        color:white;
        box-shadow: none;
    }
}