.cn-button {
    display: inline-block;
    height: 70px;
    width: 400px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 10px;
    &.orange {
        background-color: $color-compte-nickel;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $color-compte-nickel;
            text-decoration: none;
        }
    }
    &.white {
        background-color: #fff;
        color: $color-compte-nickel;
        &:hover {
            background-color: $color-compte-nickel;
            color: #fff;
            text-decoration: none;
        }
    }
    &.icon-right {
        position: relative;
        .icon {
            position: absolute;
            font-size: 30px;
            right: 30px;
            &:before {
                line-height: 35px;
                // vertical-align: text-top;
            }
        }
    }
    &.icon-left {
        position: relative;
        .icon {
            position: absolute;
            font-size: 30px;
            left: 30px;
            &:before {
                line-height: 35px;
            }
        }
    }
    &.icon-only {
        width: 70px;
        .icon {
            display: block;
            font-size: 30px;
            &:before {
                line-height: 35px;
                vertical-align: text-bottom;
            }
        }
    }
    &.icons {
        position: relative;
        .icon {
            position: absolute;
            font-size: 30px;
            left: 30px;
            &:before {
                line-height: 35px;
            }
            &-a {
                position: absolute;
                font-size: 30px;
                right: 30px;
                &:after {
                    line-height: 35px;
                }
            }
        }
    }
}
a.cn-button{
    line-height: 70px;
}

@include mdc-layout-grid-media-query_('phone') {
    .cn-button {
        height: 50px;
        width: 280px;
        &.icon-right {
            .icon {
                font-size: 20px;
                right: 20px;
                &:before {
                    line-height: 20px;
                }
            }
        }
        &.icon-left {
            .icon {
                font-size: 20px;
                left: 20px;
                &:before {
                    line-height: 20px;
                }
            }
        }
        &.icon-only {
            width: 50px;
            .icon {
                font-size: 20px;
                &:before {
                    line-height: 20px;
                }
            }
        }
        &.icons {
            .icon {
                font-size: 20px;
                left: 20px;
                &:before {
                    line-height: 20px;
                }
                &-a {
                    font-size: 20px;
                    right: 20px;
                    &:after {
                        line-height: 20px;
                    }
                }
            }
        }
    }

    a.cn-button{
        line-height: 50px;
    }
}