.navbar {
    margin-bottom:30px;
    padding:0;
}

.logo {
    display:flex;
    align-items:stretch;
    height:70px;
    margin:0 20px;

    &.big {
        height:170px;
        overflow:hidden;
        justify-content: center;

        .icon {
            &-logo-carotte {
                font-size:100px;
            }
            &-logo-nickel {
                font-size:226px;
            }
            &:before {
                line-height:170px;
                vertical-align:top;
            }
        }
    }

    .icon {
        &-logo-carotte {
            color:$color-compte-nickel;
            font-size:30px;
        }

        &-logo-nickel {
            font-size:70px;
        }

        &:before {
            line-height:70px;
            vertical-align:top;
        }
    }
}