@import "../../../assets/scss/common/all";

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

@import "../../assets/scss/component/all";

.mdc-drawer{
    position: sticky;
    top: 0;
    height: 150vh;
    .mdc-drawer__title,
    .mdc-drawer__subtitle,
    .mdc-list-item__graphic{
        @include font;
    }
    .mdc-list-item__graphic{
        width: unset;
    }
    .mdc-drawer__subtitle{
        margin: 10px;
    }

    .mdc-drawer__content{
        .mdc-list-item--selected, 
        .mdc-list-item--activated{
            border-bottom: 2px solid $color-compte-nickel;
            border-radius: 0;
            &:before{
                background-color: transparent;
            }
        }
    }
} 

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}