<footer class="footer">
    <div class="mdc-layout-grid max-width">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                <ul class="list">
                    <li class="item">
                        <a href="https://compte-nickel.fr/qui-sommes-nous/" class="link">Qui sommes-nous ?</a>
                    </li>
                    <li class="item">
                        <a href="https://compte-nickel.fr/offre/" class="link">Offre</a>
                    </li>
                    <li class="item">
                        <a href="https://compte-nickel.fr/tarifs/" class="link">Tarifs</a>
                    </li>
                    <li class="item">
                        <a href="https://compte-nickel.fr/utilisation/" class="link">Utilisation</a>
                    </li>
                    <li class="item">
                        <a href="https://compte-nickel.fr/recrutement/" class="link">Recrutement</a>
                    </li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                <ul class="list">
                    <li class="item">
                        <a href="https://devenir-distributeur.compte-nickel.fr/
" class="link">Devenir distributeur</a>
                    </li>
                    <li class="item">
                        <a href="https://faq.compte-nickel.fr/hc/fr" class="link">Questions / Réponses</a>
                    </li>
                    <li class="item">
                        <a href="https://compte-nickel.fr/mentions-legales/" class="link">Mentions légales</a>
                    </li>
                    <li class="item">
                        <a href="https://compte-nickel.fr/_files/conditions-generales-et-tarifaires.pdf" class="link">Conditions générales et tarifaires</a>
                    </li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                <ul class="list list-img">
                    <li class="item">
                        <a href="https://itunes.apple.com/fr/app/mon-compte-nickel/id1119225763" class="link">
                            <img src="//p6.zdassets.com/hc/theme_assets/1954824/115000224507/footer-appstore.png" alt="Télécharger dans l'App Store" width="135" height="40" class="img" />
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://play.google.com/store/apps/details?id=com.fpe.comptenickel" class="link">
                            <img src="//p6.zdassets.com/hc/theme_assets/1954824/115000224507/footer-googleplay.png" alt="Disponible sur Google Play" width="135" height="40" class="img" />
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://mon.compte-nickel.fr/identifiez-vous" class="link">
                            <img src="//p6.zdassets.com/hc/theme_assets/1954824/115000224507/footer-internet.png" alt="Accessible en ligne" width="135" height="40" class="img" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                <ul class="list list-social">
                    <li class="item">
                        <a href="https://www.facebook.com/CompteNickel/" class="link">
                            <i class="icon icon-facebook-circle"></i>Facebook
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://twitter.com/CompteNickel" class="link">
                            <i class="icon icon-twitter-circle"></i>Twitter
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.linkedin.com/company/3098350/" class="link">
                            <i class="icon icon-linkedin-circle"></i>LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="footer-container mdc-layout-grid max-width">
            <div class="bloc-copyright">
                © FPE 2013-2018
            </div>
            <ul class="list">
                <li class="item">
                    <a href="https://compte-nickel.fr/mentions-legales/" class="link">Mentions Légales</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div><!-- end #page -->
