<header class="header" data-role="main-nav">
    <nav class="wrapper-nav">
        <div>
            <a href="https://compte-nickel.fr" rel="home" class="logo" data-role="princ">
                <i class="icon icon-logo-carotte"></i>
                <i class="icon icon-logo-nickel"></i>
                <i class="icon icon-slogan-nickel"></i>
            </a>

            <a href="https://souscription.compte-nickel.fr" class="cn-button orange create-account-link" data-role="second">
                Ouvrir un compte
            </a>
        </div>

        <button class="toggler" type="button" data-role="toggler-main-nav">
            <span class="icon-a icon-arrow-bottom-light-a">Menu</span>
        </button>

        <ul class="nav" data-role="nav-toggle">
            <li class="nav-item <%= locals.active == 'home' ? 'active' : '' %>">
                <a class="nav-link" href="index.html">
                    Home
                    <i class="icon icon-arrow-right-light"></i>
                </a>
            </li>
            <li class="nav-item <%= locals.active == 'typography' ? 'active' : '' %>">
                <a class="nav-link" href="typography.html">
                    Typographie
                    <i class="icon icon-arrow-right-light"></i>
                </a>
            </li>
            <li class="nav-item <%= locals.active == 'color' ? 'active' : '' %>">
                <a class="nav-link" href="color.html">
                    Couleurs
                    <i class="icon icon-arrow-right-light"></i>
                </a>
            </li>
            <li class="nav-item <%= locals.active == 'icon' ? 'active' : '' %>">
                <a class="nav-link" href="icon.html">
                    Icons
                    <i class="icon icon-arrow-right-light"></i>
                </a>
            </li>
            <li class="nav-item <%= locals.active == 'referentiel' ? 'active' : '' %>">
                <a class="nav-link" href="referentiel.html">
                    Référentiel
                    <i class="icon icon-arrow-right-light"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.compte-nickel.fr">Site Nickel</a>
            </li>
        </ul>
    </nav>
</header>
