<nav class="navbar navbar-default">
    <div class="container-fluid">

        <ul class="nav navbar-nav">

            <li class="<%= locals.active == 'index' ? 'active' : '' %>"><a href="index.html">Home</a></li>
            <li class="<%= locals.active == 'typography' ? 'active' : '' %>"><a href="typography.html">Typographie</a></li>
            <li class="<%= locals.active == 'color' ? 'active' : '' %>"><a href="color.html">Colors</a></li>
            <li class="<%= locals.active == 'icon' ? 'active' : '' %>"><a href="icon.html">Icons</a></li>
        </ul>
    </div>
</nav>