.cn-form {
    width: 100%;
    background-color: $color-grey--light;
    margin: 10px;
    padding: 40px;

    &.white{
        background-color: #fff;
    }
}

@include mdc-layout-grid-media-query_('phone') {
    .cn-form {
        padding: 20px;
    }
}
