$basePathTypography: "../";

@import "../../../assets/scss/common/font-face";
@import "../../../assets/scss/common/typography";

body.theme-lib {
    background-color:$color-grey--light;
    @include font-medium;

    .navbar {
        margin-bottom:0;
        background-color:white;
    }

    .sidenav-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height:100vh;
        background-color:$color-grey--dark;
        padding:0;

        .title-sidenav {
            text-transform: uppercase;
            font-size:14px;
            color:$color-grey--dark;
            padding:10px 15px;
        }

        .nav {
            .nav-item {
                border-bottom:1px solid $color-grey--dark;

                .nav-link {
                    font-size:14px;
                    color:$color-grey--light;

                    &:hover {
                        color:$color-yellow;
                    }
                }

                &.active {
                    .nav-link {
                        color:$color-yellow;
                    }
                }
            }
        }
    }

    section {
        margin-bottom:40px;
        background-color:white;

        .lib-title {
            background-color:$color-grey--dark;
            color:$color-yellow;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding:10px 20px;
            font-size:18px;
        }
    }

}