body.theme-lib {

    .navbar {
        margin-bottom:0;
        background-color:white;
    }

    .sidenav-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height:100vh;
        background-color:$color-grey--dark;
        padding:0;

        .title-sidenav {
            text-transform: uppercase;
            font-size:18px;
            color:$color-grey--dark;
            padding:10px 15px;
        }

        .nav {
            .nav-item {
                border-bottom:1px solid $color-grey--dark;

                .nav-link {
                    font-size:18px;
                    line-height: 32px;
                    color:$color-grey--light;
                    padding: 5px 15px;

                    &:hover {
                        color:$color-yellow;
                    }
                }

                &.active {
                    .nav-link {
                        color:$color-yellow;
                    }
                }
            }
        }
    }

    .mdc-card {
        padding: 10px 20px;
        line-height: 26px;
        margin-bottom: 20px;

        h3 {
            font-weight: $medium;
            margin-bottom: 20px;
        }

        section {
            .lib-title {
                color: $color-compte-nickel;
                padding: 10px 20px;
                font-size: 30px;
                font-weight: $medium;
                border-bottom: 1px solid $color-grey--light;
            }

            // &:first-child {
            //     .lib-title {
            //         margin-top: 0;
            //     }
            // }
        }
    }
}
