@import "../../assets/scss/common/config-bootstrap-grid";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

$basePathTypography: "../";
@import "../../assets/scss/common/all";
@import "../../assets/scss/component/all";

@import "layout/layout";

@import "module/header";

/* Icons */
.cn-icons-list {
    padding-left: 0;
    list-style: none;

    li {
        float: left;
        width: 20%;
        height: 115px;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: #e6e6e6;
        border:1px solid white;

        &:hover {
            color: white;
            background-color: $color-compte-nickel--light;

            .icon:before {
                color:white;
            }
        }

        &.item-lg {
            width: 25%;
        }

        .icon, .icon-amp {
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 30px;
            line-height: 30px;
            color: $color-grey--dark;
        }

        .icon-class {
            display: block;
            text-align: center;
            word-wrap: break-word;
        }
    }
}

svg {
    height: 30px;
}

@media (min-width: 768px) {
    .cn-icons {
        margin-right: 0;
        margin-left: 0;

        .cn-icons-list li {
            width: 12.5%;
            font-size: 12px;
        }
    }

}