@import "../../assets/scss/common/config-bootstrap-grid";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

$basePathTypography: "../";
@import "../../assets/scss/common/all";
@import "../../assets/scss/component/all";

@import "layout/layout";

@import "module/header";
@import "../../assets/scss/component/footer/footer";

main {
    text-align:center;

    h2, p {
        margin-bottom:40px;
    }

    img {
        border:2px solid $color-compte-nickel;
        border-radius:5px;
        box-shadow: 1px 1px 8px 0 $color-grey--light;
    }
}
