@import "../../assets/scss/common/config-material-grid";
@import "~@material/layout-grid/mdc-layout-grid";

$basePathTypography: "../";
@import "../../assets/scss/common/all";

@import "layout/layout";

@import "../../assets/scss/component/header/header";
@import "../../assets/scss/component/footer/footer";

main {
    text-align:center;

    h2, p {
        margin-bottom:40px;
    }

    img {
        border:2px solid $color-compte-nickel;
        border-radius:5px;
        box-shadow: 1px 1px 8px 0 $color-grey--light;
    }
}
