@import "../../assets/scss/common/config-material-grid";
@import "~@material/layout-grid/mdc-layout-grid";

$basePathTypography: "../";
@import "../../assets/scss/common/all";

@import "~@material/tab-bar/mdc-tab-bar";
@import "~@material/tab-scroller/mdc-tab-scroller";
@import "~@material/tab-indicator/mdc-tab-indicator";
@import "@material/fab/mdc-fab";
@import "~@material/card/mdc-card";
@import "~@material/tab/mdc-tab";
@import "module/mdc-drawer.scss";

@import "../../assets/scss/component/all";
@import "layout/layout";
@import "../../assets/scss/component/header/header";

.wrapper-menu{
    display: flex;
    .module {
        position: relative;
        padding: 20px 0;
        .code-example {
            padding: 5px 20px;
            margin-bottom: 20px;
            .cn-text-default {
                margin-bottom: 20px;
            }
            h1, h2 {
                padding: 20px 0;
            }
        }
        &>.tab-content {
            .tab-pane {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
    }
    pre {
        font-size: 12px;
    }
    
    #link [class*="cn-link-"],
    button {
        display: inline-block;
        margin: 10px 20px;
    }
}

@media (max-width: 768px) {
    .wrapper-menu{
        display: block;
    }
}

