@import "../../assets/scss/common/config-bootstrap-grid";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

$basePathTypography: "../";
@import "../../assets/scss/common/all";
@import "../../assets/scss/component/all";

@import "layout/layout";

@import "module/header";

.module > div {
    padding:10px 20px;
}

.roboto {
    font-size:16px;
    @extend %roboto-regular;

    &.bold {
        @extend %roboto-bold;
    }

    &.light {
        @extend %roboto-light;
    }

    &.black {
        @extend %roboto-black;
    }

    &.medium {
        @extend %roboto-medium;
    }
}

.vag-rounded {
    font-size:16px;
    @extend %vag-rounded-light;

    &.bold {
        @extend %vag-rounded-bold;
    }
    &.thin {
        @extend %vag-rounded-thin;
    }
}