@import "../../assets/scss/common/config-material-grid";
@import "~@material/layout-grid/mdc-layout-grid";

$basePathTypography: "../";
@import "../../assets/scss/common/all";

@import "layout/layout";

@import "../../assets/scss/component/header/header";

.module > div {
    padding:15px 20px;

    &.extrabold { font-weight: $bold; }
    &.medium { font-weight: $medium; }
}
