$basePathTypography: "../../../" !default;

/* VAG ROUNDED FONT FACE */
@font-face {
    font-family: 'Vag-Rounded-Bold';
    src: url($basePathTypography + 'font/vag_rounded_bold-webfont.woff2') format('woff2'), url($basePathTypography + 'font/vag_rounded_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vag-Rounded-Light';
    src: url($basePathTypography + 'font/vag_rounded_light_ssi_light-webfont.woff2') format('woff2'), url($basePathTypography + 'font/vag_rounded_light_ssi_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vag-Rounded-Thin';
    src: url($basePathTypography + 'font/vag_rounded_thin-webfont.woff2') format('woff2'), url($basePathTypography + 'font/vag_rounded_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}