.cn-service {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .status {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 5px;
        .chip {
            position: relative;
            flex: none;
            width: 26px;
            height: 26px;
            margin-right: 10px;
            border: 2px solid $color-grey;
            border-radius: 15px;
            &:after {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                width: 12px;
                height: 12px;
                border-radius: 10px;
                background-color: black;
            }
            &.danger:after {
                background-color: $color-red;
            }
            &.warning:after {
                background-color: $color-yellow;
            }
            &.success:after {
                background-color: $color-green;
            }
        }
        .text {
            margin: 0 50px 0 10px;
            .content,
            .infos {
                display: block;
            }
            .content {
                font-weight: $medium;
                margin-bottom: 5px;
            }
            .infos {
                color: $color-grey--dark;
            }
        }
    }

    .cn-button {
        margin: 0 auto;
        padding: 15px 30px;
        line-height: 35px;
        box-shadow: none;
        border: 1px solid $color-grey;
    }
}
@include mdc-layout-grid-media-query_('tablet'){
    .cn-service{
        .status{
            .text {
                margin: auto;
            }
        }
        .cn-button{
            padding: 10px 20px;
            line-height: 40px;
        }
    }
}
@include mdc-layout-grid-media-query_('phone') {
    .cn-service{
        .status{
            .text {
                margin: auto;
            }
        }
        .cn-button{
            line-height: 25px;
            padding: 10px 20px;
        }
    }
}