.cn-service {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .status {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 5px;
        .chip {
            position: relative;
            flex: none;
            width: 26px;
            height: 26px;
            margin-right: 10px;
            border: 2px solid $color-grey;
            border-radius: 15px;
            &:after {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                width: 12px;
                height: 12px;
                border-radius: 10px;
                background-color: black;
            }
            &.danger:after {
                background-color: $color-red;
            }
            &.warning:after {
                background-color: $color-yellow;
            }
            &.success:after {
                background-color: $color-green;
            }
        }
        .text {
            margin: 0 50px 0 10px;
            .content,
            .infos {
                display: block;
            }
            .content {
                font-weight: $medium;
                margin-bottom: 5px;
            }
            .infos {
                color: $color-grey--dark;
            }
        }
    }

    .cn-button {
        width: auto;
        padding: 0 30px;
    }
}
@include mdc-layout-grid-media-query_('tablet'){
    .cn-service {
        .status {
            .text {
                margin: auto;
            }
        }
    }
}
@include mdc-layout-grid-media-query_('phone') {
    .cn-service {
        .status {
            .chip {
                width: 20px;
                height: 20px;
                &:after {
                    width: 10px;
                    height: 10px;;
                    top: 3px;
                    left: 3px;
                }
            }
            .text {
                margin: auto;
            }
        }
    }
}
