.status-service {
    height:24px;
    line-height:24px;
    margin-bottom:10px;

    .chip {
        position:relative;
        display:inline-block;
        vertical-align:top;
        width:18px;
        height:18px;
        margin-top:2px;
        margin-right:10px;

        border:1px solid $color-grey;
        border-radius:9px;

        &:after {
            content:"";
            position:absolute;
            top:3px; left:3px;
            width:10px;
            height:10px;
            border-radius:5px;
            background-color:black;
        }

        &.danger:after {
            background-color:$color-red;
        }

        &.warning:after {
            background-color:$color-yellow;
        }

        &.success:after {
            background-color:$color-green;
        }
    }

    .text {
        display:inline-block;
        vertical-align:top;
    }
}