.cn-title-26 {
    color:$color-compte-nickel;
    font-size:30px;
    font-weight: 500;
    text-transform:uppercase;
    margin-bottom:20px;

    &.divider {
        padding-bottom:20px;
        border-bottom:1px solid $color-grey;
    }
}
