.cn-link {
    color: #000;
    text-decoration: underline;
    font-weight: $medium;
    margin-right: 30px;
    &:hover {
        color: $color-compte-nickel;
        text-decoration: none;
    }

    &.inverse {
        color: $color-compte-nickel;
        &:hover {
            color: #000;
        }
    }

    &.list {
        text-decoration: none;
    }

    &.orange {
        color: $color-compte-nickel;
        &:hover {
            text-decoration: underline;
        }
    }

    &.grey {
        color: $color-grey--dark;
        &:hover {
            color: $color-grey--dark;
            text-decoration: underline;
        }
    }

    &.icon-right {
        .icon {
            margin: 0 10px;
            font-size: 30px;
            &:before {
                vertical-align: middle;
            }
        }
    }
}

@include mdc-layout-grid-media-query_('phone') {
    .cn-link{
        margin-right: 15px;
        &.icon-right {
            .icon {
                margin: 0 5px;
                font-size: 15px;
            }
        }
    }
}