.cn-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
        th {
            padding: 20px 10px;
            color: $color-compte-nickel;
            font-weight: $medium;
            border-right: 1px solid $color-grey;
            border-top: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
            text-align: center;

            &:first-child {
                border-top-left-radius: 10px;
                border-left: 1px solid $color-grey;
            }

            &:last-child {
                border-top-right-radius: 10px;
            }
        }

        &.bg-orange {
            th {
                color: white;
                background-color: $color-compte-nickel;
                border-color: $color-compte-nickel;
                border-right: 1px solid white;
                font-size: 20px;
                padding: 20px 10px;

                &:last-child {
                    border-right-color: $color-compte-nickel;
                }
            }
        }
    }

    tbody {
        &.odd-even {
            tr {
                &:nth-child(even) {
                    background-color: $color-grey--light;
                }

                td {
                    border-bottom: 0;
                }

                &:last-child {
                    td {
                        border-bottom: 1px solid $color-grey;
                    }
                }
            }
        }
        tr {
            td {
                padding: 10px;
                color: #000;
                border-bottom: 1px solid $color-grey;
                border-right: 1px solid $color-grey;

                &:first-child {
                    border-left: 1px solid $color-grey;
                }
            }

            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: 10px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: mdc-layout-grid-breakpoint-min('tablet')) {
    .cn-table {
        thead {
            &.bg-orange {
                th {
                    font-size: 30px;

                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 18px;
                    padding: 26px 10px;
                }
            }
        }
    }
}
