.cn-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid $color-grey;
    border-radius: 7px;
    width: 100%;

    thead {
        th {
            padding: 20px 10px;
            color: $color-compte-nickel;
            font-weight: $medium;
            border-right: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
            text-align: center;

            &:last-child {
                border-right-width: 0;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: $color-grey--light;
            }

            td {
                padding: 20px 30px;
                color: #000;
                border-right: 1px solid $color-grey;

                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
}
