.logo {
    display:flex;
    align-items:stretch;
    position: relative;
    height:40px;
    margin:0 10px;
    color: black;

    &:hover {
        color: black;
    }

    .device-borne & {
        position: relative;
        height: 70px;
        width: 250px;
        margin: 0;

        span {
            position: absolute;
            bottom: -5px;
            left: 80px;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    &.big {
        height:170px;
        overflow:hidden;
        justify-content: center;

        .icon {
            &-logo-carotte {
                font-size:100px;
            }
            &-logo-nickel {
                font-size:226px;
            }
            &:before {
                line-height:170px;
                vertical-align:top;
            }
        }
    }

    .icon {
        &-logo-carotte {
            color:$color-compte-nickel;
            font-size:36px;

            .device-borne & {
                font-size: 70px;
            }
        }

        &-logo-nickel {
            font-size:90px;

            .device-borne & {
                font-size: 160px;
            }
        }

        &-slogan-nickel {
            font-size: 70px;
            position:absolute;
            bottom:-17px;
            left: 43px;
        }

        &:before {
            line-height:40px;
            vertical-align:top;

            @mixin borne {
                line-height:70px;
            }
            .device-borne & {
                @include borne;
            }
        }
    }
}

@media (min-width: #{map-get($mdc-layout-grid-breakpoints, largephone)}) and (max-width: #{map-get($mdc-layout-grid-breakpoints, desktop)}) {
    .logo {
        margin:0 20px;
        height: 60px;

        .icon {
            &:before {
                line-height: 60px;
            }
        }
    }
}

@media (max-width: #{map-get($mdc-layout-grid-breakpoints, largephone)}) {
    .logo {
            .icon {
            &-slogan-nickel {
                display: none;
            }
        }
    }
}
