.logo {
    display:flex;
    align-items:stretch;
    position: relative;
    height:40px;
    margin:0 10px;
    color: black;

    &:hover {
        color: black;
    }

    @mixin borne {
        height:70px;
        margin:0 20px;
    }
    @include media-breakpoint-up(md) {
        margin:0 20px;
        height: 60px;
    }
    .device-borne & {
        @include borne;
    }

    &:before {
        .theme-lib & {
            content: 'LiB';
            position:absolute;
            top: 8px;
            left: 36px;
            font-size: 9px;
            font-weight: 800;
            letter-spacing: 2px;

            @include media-breakpoint-down(sm) {
                top: -2px;
            }
        }
    }

    &.big {
        height:170px;
        overflow:hidden;
        justify-content: center;

        &:before {
            .theme-lib & {
                content: "";
            }
        }

        .icon {
            &-logo-carotte {
                font-size:100px;
            }
            &-logo-nickel {
                font-size:226px;
            }
            &:before {
                line-height:170px;
                vertical-align:top;
            }
        }
    }

    .icon {
        &-logo-carotte {
            color:$color-compte-nickel;
            font-size:36px;

            @mixin borne {
                font-size:30px;
            }
            .device-borne & {
                @include borne;
            }
        }

        &-logo-nickel {
            font-size:84px;

            @mixin borne {
                font-size:70px;
            }
            .device-borne & {
                @include borne;
            }
        }

        &:before {
            line-height:40px;
            vertical-align:top;

            @mixin borne {
                line-height:70px;
            }
            @include media-breakpoint-up(md) {
                line-height: 60px;
            }
            .device-borne & {
                @include borne;
            }
        }
    }
}
