$height-tabs: 70px !default;

.theme-nickel.nav-tabs {
    border:0;
    list-style:none;
    display:flex;

    li.item {
        flex-grow:1;
        height:$height-tabs;

        a {
            position:relative;
            display:block;
            width:100%;
            height:100%;
            line-height: $height-tabs;
            text-align:center;
            color:$color-grey--dark;
            padding:0;
            border-top:1px solid $color-grey;
            border-bottom:1px solid $color-grey;

            span {
                display:inline-block;
                vertical-align:middle;
                line-height:1;
            }

            &.active {
                color:white;
                background-image: linear-gradient($color-compte-nickel, $color-compte-nickel--dark);
                border-color:$color-compte-nickel--dark;

                &:after {
                    content:"";
                    width:0;
                    height:0;
                    border-style:solid;
                    border-width:10px 7.5px 0 7.5px;
                    border-color:$color-compte-nickel--dark transparent transparent transparent;
                    position:absolute;
                    bottom:-10px;
                    left:50%;
                    margin-left:-7.5px;
                }
            }
        }
    }
}

.tab-content {
    margin-bottom:20px;
    padding:20px;
}