.cn-text {
  &-14 {
    font-size:14px;
    color:$color-grey--dark;
    margin-bottom:20px;

    .orange {
      color:$color-compte-nickel;
    }
  }
  &-12 {
    font-size:12px;
    color:$color-grey--dark;
    margin-bottom:20px;

    .orange {
      color:$color-compte-nickel;
    }
  }
}