.cn-content {
    width:100%;
    border-radius:7px;
    padding:30px 20px;
    margin-bottom:20px;
    font-weight: 300;

    &.center {
        text-align:center;
    }

    &.right {
        text-align:right;
    }

    &.grey {
        background-color:$color-grey--light;
    }

    &.orange {
        background-color:$color-compte-nickel;
        color:white;
    }

    &.grey-dark {
        background-color:$color-grey--dark;
        color:white;
    }
}
