/* FOOTER */
.footer {
    width: 100%;
    min-height: 300px;
    background-color: $color-grey--light;
    border-top: 1px solid $color-grey;
    padding: 50px 0 0;
    margin-top: 60px;

    @include media-breakpoint-down(lg) {
        height: auto;
        padding: 50px 0 0;
    }

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    .list {
        list-style: none;
        min-height: 200px;

        @include media-breakpoint-down(md) {
            min-height: auto;
        }

        .item {
            height: 40px;

            .link {
                display: block;
                height: inherit;
                line-height: 40px;
                font-size: 14px;
                color: black;

                @include media-breakpoint-down(md) {
                    font-size: 13px;
                    line-height: 20px;
                }

                &:hover {
                    color: $color-compte-nickel;
                }

                .icon {
                    &:before {
                        vertical-align: middle;
                        margin-right: 10px;
                        font-size: 20px;
                    }

                    &.icon-facebook-circle {
                        color: $color-facebook;
                    }

                    &.icon-twitter-circle {
                        color: $color-twitter;
                    }

                    &.icon-linkedin-circle {
                        color: $color-linkedin;
                    }
                }
            }
        }
    }

    .list-img .item {
        margin-bottom: 10px;

        .link .img {
            max-width: 135px;
            width: 100%;
            height: auto;
        }
    }

    .subfooter {
        background-color: white;
        width: 100%;
        height: 60px;
        margin-top: 50px;

        .container {
            height: inherit;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .bloc-copyright {
                font-weight: 500;
                font-size: 14px;
                align-self: center;
            }

            .list {
                min-height: auto;
                .item {
                    .link {
                        line-height: 40px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
