/* FOOTER */
.footer {
    width: 100%;
    height: 300px;
    background-color: $color-grey--light;
    padding: 50px 0;
    margin-top: 60px;

    @include media-breakpoint-down(lg) {
        height: auto;
        padding: 50px 0 0;
    }

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    .list {
        list-style: none;
        height: 200px;

        .item {
            height: 40px;

            .link {
                display: block;
                height: inherit;
                line-height: 40px;
                font-size: 14px;
                color: black;

                @include media-breakpoint-down(md) {
                    font-size: 13px;
                    line-height: 20px;
                }

                &:hover {
                    color: $color-compte-nickel;
                }

                .icon {
                    &:before {
                        vertical-align: middle;
                        margin-right: 10px;
                        font-size: 20px;
                    }

                    &.icon-facebook-sign {
                        color: $color-facebook;
                    }

                    &.icon-twitter-sign {
                        color: $color-twitter;
                    }

                    &.icon-linkedin-sign {
                        color: $color-linkedin;
                    }
                }
            }
        }
    }

    .list-img .item {
        margin-bottom: 10px;

        .link .img {
            max-width: 135px;
            width: 100%;
            height: auto;
        }
    }
}