<form action="" class="cn-form">
<%- include('_input-email.html') %>
<br />
<%- include('_input-text-icon.html') %>
<br />
<%- include('_input-text.html') %>
<br />
<%- include('_input-text-error.html') %>
<br />
<%- include('_input-text-copy.html') %>
<br />
<%- include('_input-date.html') %>
<br />
<%- include('_textarea.html') %>
<br />
<%- include('_input-radio-list.html') %>
<br />
<%- include('_input-checkbox.html') %>
<br />
<%- include('_input-checkbox-on_off.html') %>
<br />
<br />
<%- include('_input-with-border.html') %>
<br />
<%- include('_select.html') %>
</form>
