<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Colors sandbox</title>

    <link rel="stylesheet" href="../css/color.css">
</head>

<body class="theme-lib">

<%- include('module/header.html', {active: 'color'}) %>

<div class="mdc-layout-grid max-width">
    <div class="mdc-layout-grid__inner">
        <main class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <section id="siteweb" class="cf">
                <div class="lib-title">Site Web</div>
                <div class="module">
                    <ul class="cn-colors-list">
                        <li class="compte-nickel dark"><span>Compte Nickel <br />(#FF5F00)</span></li>
                        <li class="compte-nickel-light dark"><span>Compte Nickel <br />(lighten(#FF5F00, 30%))</span></li>
                        <li class="compte-nickel-dark dark"><span>Compte Nickel Dark <br />(#EA4E00)</span></li>
                    </ul>
                </div>
            </section>

            <section id="base" class="cf">
                <div class="lib-title">Base</div>
                <div class="module">
                    <ul class="cn-colors-list">
                        <li class="grey-light dark"><span>Grey Light <br />(#f2f2f2)</span></li>
                        <li class="grey dark"><span>Grey <br />(#cccccc)</span></li>
                        <li class="grey-dark light"><span>Grey Dark <br />(#666666)</span></li>
                    </ul>
                </div>
            </section>

            <section id="validation" class="cf">
                <div class="lib-title">Validation</div>
                <div class="module">
                    <ul class="cn-colors-list">
                        <li class="red light"><span>Red <br />(#C9130A)</span></li>
                        <li class="red-light dark"><span>Red Light <br />lighten(#C9130A, 30%)</span></li>

                        <li class="green light"><span>Green (#08B230)</span></li>
                        <li class="green-light dark"><span>Green Light <br />(lighten(#08B230, 30%))</span></li>

                        <li class="yellow dark"><span>Yellow <br />(#FCDB49)</span></li>
                    </ul>
                </div>
            </section>

            <section id="socials" class="cf">
                <div class="lib-title">Réseaux Sociaux</div>
                <div class="module">
                    <ul class="cn-colors-list">
                        <li class="social-facebook light"><span>Facebook <br />(#3B5998)</span></li>
                        <li class="social-twitter light"><span>Twitter <br />(#55ACEE)</span></li>
                        <li class="social-linkedin light"><span>LinkedIn <br />(#007BB6)</span></li>
                    </ul>
                </div>
            </section>

        </main>
    </div>
    </div>
</div>

<div class="grid-helper"></div>

<script src="../js/default.js"></script>
</body>
</html>
