<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Colors sandbox</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/color.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="container">
    <div class="row">
        <!--Main Content -->
        <div class="col-md-9">
            <section id="common" class="group col-md-12">
                <h1 class="kawa-h1">Common</h1>
                <div id="siteweb" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Site Web</h2>
                    <div class="kawa-colors">
                        <ul class="kawa-colors-list">
                            <li class="orange dark"><span>Orange <br />(#f57528)</span></li>
                            <li class="orange-light dark"><span>Orange Light <br />(#fdbd39)</span></li>
                            <li class="orange-dark dark"><span>Orange Dark <br />(#be5a1e)</span></li>
                        </ul>
                    </div>
                </div>
                <div id="base" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Base</h2>
                    <div class="kawa-colors">
                        <ul class="kawa-colors-list">
                            <li class="grey dark"><span>Grey <br />(#969696)</span></li>
                            <li class="grey-light dark"><span>Grey Light <br />(#cccccc)</span></li>
                            <li class="grey-dark light"><span>Grey Dark <br />(#333333)</span></li>
                            <li class="grey-darker light"><span>Grey Darker <br />(#666666)</span></li>
                            <li class="grey-box-shadow dark"><span>Grey Box Shadow <br />(#bbbbbb)</span></li>
                        </ul>
                    </div>
                </div>
                <div id="validation" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Validation</h2>
                    <div class="kawa-colors">
                        <ul class="kawa-colors-list">
                            <li class="red dark"><span>Red <br />(#d93f2b)</span></li>
                            <li class="red-light dark"><span>Red Light <br />(lighten(#d93f2b, 30%))</span></li>

                            <li class="green dark"><span>Green (#94ba1e)</span></li>
                            <li class="green-light dark"><span>Green Light <br />(lighten(#94ba1e, 30%))</span></li>
                        </ul>
                    </div>
                </div>
                <!--<div id="social" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Social</h2>
                    <div class="kawa-colors">
                        <ul class="kawa-colors-list">
                            <li class="color dark twitter-cyan-light"><span>twitter-cyan-light</span></li>
                            <li class="color dark twitter-cyan"><span>twitter-cyan</span></li>
                            <li class="color dark twitter-cyan-dark"><span>twitter-cyan-dark</span></li>
                            <li class="color dark fb-blue"><span>fb-blue</span></li>
                            <li class="color dark fb-blue-dark"><span>fb-blue-dark</span></li>
                            <li class="color dark fb-blue-light"><span>fb-blue-light</span></li>
                            <li class="color dark instagram-blue"><span>instagram-blue</span></li>
                            <li class="color dark instagram-blue-light"><span>instagram-blue-light</span></li>
                            <li class="color dark googleplus-red"><span>googleplus-red</span></li>
                            <li class="color dark googleplus-red-light"><span>googleplus-red-light</span></li>
                            <li class="color dark youtube-red"><span>youtube-red</span></li>
                            <li class="color dark linkedin-blue"><span>linkedin-blue</span></li>
                            <li class="color dark linkedin-blue-dark"><span>linkedin-blue-dark</span></li>
                            <li class="color dark pinterest-red"><span>pinterest-red</span></li>
                            <li class="color dark pinterest-red-dark"><span>pinterest-red-dark</span></li>
                            <li class="color dark pinterest-red-light"><span>pinterest-red-light</span></li>
                            <li class="color dark snapchat-yellow"><span>snapchat-yellow</span></li>
                        </ul>
                    </div>
                </div>-->
                <div id="clavier" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Clavier</h2>
                    <div class="kawa-colors">
                        <ul class="kawa-colors-list">
                            <li class="yellow dark"><span>Yellow <br />(#fecf33)</span></li>
                            <li class="cherry dark"><span>Cherry <br />(#cc0044)</span></li>
                            <li class="green-flash dark"><span>Green Flash <br />(#00cc38)</span></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="grid-helper"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>