<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Icons sandbox</title>

    <link rel="stylesheet" href="../css/icon.css">
</head>

<%
var sections = [
{id:'marque', title: 'Logo', icons: ['logo-carotte', 'logo-nickel']},
{id:'various', title: 'Divers', icons: ['bag', 'bag-2', 'card-bank', 'card-bank-back', 'card-bank-front', 'card-id', 'card-replace', 'check-square', 'check'
    ,'check-circle', 'code', 'confetti', 'file', 'network', 'pen', 'question-circle', 'copy', 'nickel-chrome', 'euro', 'livret', 'phone', 'touch-id',
    , 'danger', 'info', 'square', 'ampoule', 'clock', 'gears', 'eye', 'bad', 'good', 'nickel-closed', 'wave', 'lock', 'search', 'similar'
    , 'star', 'add-circle ', 'hamburger', 'alert', 'tabac', 'tabac-empty', 'devices', 'funnel', 'debit', 'credit', 'coffee', 'download', 'graph', 'helmet']},
{id:'module', title:'Modules', icons: ['balance', 'calendar', 'check-around', 'student', 'ticket', 'card-map'
    , 'compte', 'flag']},
{id:'categories', title:'Catégories', icons: ['shopping', 'cutlery', 'allocations', 'piece', 'monument', 'home', 'kite', 'multimedia'
    , 'bolt', 'distributor', 'wage-slip', 'plane', 'divers', 'transport']},
{id:'types', title:'Types d\'opérations', icons: ['achat', 'achat-internet', 'depot-cash', 'frais-nickel', 'info-indispo-diverses'
, 'prelevement', 'prelevement-tip', 'rejet-prelevement', 'rejet-virement', 'remboursement', 'retrait-cash', 'retrait-distributeur']},
{id:'arrow', title: 'Flèches', iconPrefix: '-arrow', icons: ['left-light', 'right-light', 'top-light'
    , 'bottom-light', 'double', 'left', 'right']},
{id:'discussion', title:'Discussion', icons: ['bubble']},
{id:'nav', title: 'Navigation', icons: ['close', 'close-circle', 'logout', 'cursor', 'user', 'user-multi', 'user-add'
    , 'user-circle']},
{id:'smiley', title: 'Smileys', icons: ['smiley-angry']},
{id: 'social', title: 'Socials', icons: ['facebook-circle', 'twitter-circle', 'linkedin-circle']},
{id: 'dessins', title: 'Illustrations', icons: ['draw-card', 'draw-holidays', 'draw-letter', 'draw-tabac']}
];
%>

<body class="theme-lib">

<%- include('module/header.html', {active: 'icon'}) %>

<div class="wrapper-menu">
    <div class="mdc-drawer-app-content">
        <main class="main-content" id="main-content">
            <!--Main Content -->
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                        <div class="mdc-card">
                            <h3>Règles de construction des svg pour les fonts :</h3>
                            <ul>
                                <li>La taille de base est 1024x1024</li>
                                <li>Le contenu est bord à bord en hauteur ou en largeur</li>
                            </ul>
                            La nomenclature :
                            <ul>
                                <li>-full : icone pleine</li>
                                <li>-square : le carré plein avec les bords arrondis</li>
                                <li>-sign : le cercle plein</li>
                                <li>-circle : le cercle</li>
                            </ul>
                        </div>
                        <div class="mdc-card">
                        <%
                            sections.forEach(function(section) {
                            %>
                            <section id="<%= section.id %>" class="cf">
                                <div class="lib-title"><%= section.title %></div>
                                <div class="module">
                                    <ul class="cn-icons-list">
                                        <%
                                        section.icons.forEach(function(icon) {
                                        %>
                                        <li>
                                            <span class="<%= section.iconClass ? section.iconClass : 'icon' %> icon<%= section.iconPrefix %>-<%=icon%>"></span>
                                            <span class="icon-class"><%= section.iconClass ? section.iconClass : 'icon' %> icon<%= section.iconPrefix %>-<%=icon%></span>
                                        </li>
                                        <%
                                        });
                                        %>
                                    </ul>
                                </div>
                            </section>
                            <%
                            });
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!--Nav Bar -->
    <aside class="mdc-drawer">
        <div class="mdc-drawer__header">
            <h1 class="mdc-drawer__title cn-title .lg orange"><i class="icon icon-logo-carotte"></i> Lib Nickel</h1>
            <h2 class="mdc-drawer__subtitle cn-title .md">Composants</h2>
        </div>
        <div class="mdc-drawer__content">
            <div class="mdc-list">
                <%
                sections.forEach(function(section, index) {
                    if (index === 0) {
                        %>
                        <a class="mdc-list-item mdc-list-item--activated" href="#<%= section.id %>" aria-selected="false">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true"><%= section.title %></i>
                        </a>
                        <%
                    } else {
                        %>
                        <a class="mdc-list-item" href="#<%= section.id %>" aria-selected="false">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true"><%= section.title %></i>
                        </a>
                        <%
                    }
                });
                %>
            </div>
        </div>
    </aside>
</div>


<div class="grid-helper"></div>

<script src="../js/default.js"></script>
</body>


</html>
