<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Icons sandbox</title>

    <link rel="stylesheet" href="../css/icon.css">
</head>

<%
var sections = [
{id:'various', title: 'Divers', icons: ['bag', 'bag-2', 'card-bank', 'card-bank-2', 'card-id', 'card-replace', 'check-square', 'check'
    ,'check-circle', 'code', 'confetti', 'file', 'network', 'pen', 'pen-2', 'question', 'question-2', 'question-circle'
    , 'question-sign', 'square', 'ampoule', 'clock', 'gears', 'eye', 'bad', 'good', 'nickel', 'lock', 'search', 'similar'
    , 'star']},
{id:'module', title:'Modules', icons: ['balance', 'calendar', 'check-around', 'student', 'ticket', 'ticket-2', 'card-map'
    , 'compte', 'flag']},
{id:'arrow', title: 'Flèches', iconPrefix: '-arrow', icons: ['left', 'right', 'left-light', 'right-light', 'top-light'
    , 'bottom-light', 'right-circle', 'next', 'prev', 'double']},
{id:'discussion', title:'Discussion', icons: ['bubble', 'bubble-2']},
{id:'nav', title: 'Navigation', icons: ['close', 'close-2', 'close-sign', 'logout', 'user', 'user-multi', 'user-add'
    , 'user-happy']},
{id:'smiley', title: 'Smileys', icons: ['smiley-angry', 'smiley-bad-sign', 'smiley-bad-circle', 'smiley-bad-2-circle'
    , 'smiley-happy-sign', 'smiley-happy-circle']},
{id: 'social', title: 'Socials', icons: ['facebook-sign', 'twitter-sign', 'linkedin-sign']}
];
%>

<body class="theme-lib">

<%- include('module/header.html', {active: 'icon'}) %>

<div class="container-fluid">
    <div class="row">
        <!--Main Content -->
        <main class="offset-md-1 col-md-8">
            <div class="alert alert-info" role="alert">
                Règles de construction des svg pour les fonts :
                <ul>
                    <li>La taille de base est 1024x1024</li>
                    <li>Le contenu est bord à bord en hauteur ou en largeur</li>
                </ul>
                La nomenclature :
                <ul>
                    <li>-square : le carré plein avec les bords arrondis</li>
                    <li>-sign : le cercle plein</li>
                    <li>-circle : le cercle</li>
                </ul>
            </div>

            <div class="alert alert-info" role="alert">Il est possible de jouer sur la tailler de l'icône avec <b>icon-lg</b> et <b>icon-2x</b> à <b>icon-5x</b></div>


                <%
                sections.forEach(function(section) {
                %>
                <section id="<%= section.id %>" class="cf">
                    <div class="lib-title"><%= section.title %></div>
                    <div class="module">
                        <ul class="cn-icons-list">
                            <%
                            section.icons.forEach(function(icon) {
                            %>
                            <li>
                                <span class="<%= section.iconClass ? section.iconClass : 'icon' %> icon<%= section.iconPrefix %>-<%=icon%>"></span>
                                <span class="icon-class"><%= section.iconClass ? section.iconClass : 'icon' %> icon<%= section.iconPrefix %>-<%=icon%></span>
                            </li>
                            <%
                            });
                            %>
                        </ul>
                    </div>
                </section>
                <%
                });
                %>

        </main>

        <!--Nav Bar -->
        <div class="offset-md-1 col-md-2 sidenav-sticky">
            <nav class="sidenav">
                <div class="title-sidenav">Composants</div>
                <ul class="nav flex-column">
                    <%
                    sections.forEach(function(section) {
                    %>
                    <li class="nav-item">
                        <a href="#<%= section.id %>" class="nav-link"><%= section.title %></a>
                    </li>
                    <%
                    });
                    %>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="grid-helper"></div>

<script src="../js/default.js"></script>
</body>


</html>