<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Index sandbox</title>

    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="theme-lib">

<%- include('module/header.html', {active: 'home'}) %>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-12">
            <div class="logo big">
                <i class="icon icon-logo-carotte"></i>
                <i class="icon icon-logo-nickel"></i>
            </div>

            <img src="../img/seal-05.jpg" alt="OH !" />
        </main>
    </div>
</div>

<%- include('module/footer.html') %>


<div class="grid-helper"></div>

<script src="../js/default.js"></script>
</body>
</html>
