<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Typography sandbox</title>

    <link rel="stylesheet" href="../css/typography.css">
</head>
<body class="theme-lib">

<%- include('module/header.html', {active: 'typography'}) %>

<div class="container-fluid">

    <div class="row">
        <main class="col-sm col-md col-lg">
            <section id="roboto" class="cf">
                <div class="lib-title">MullerNarrow</div>
                <div class="module row">
                    <div class="muller-narrow col-md-4">
                        MullerNarrow Regular <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow light col-md-4">
                        MullerNarrow Light <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow ultralight col-md-4">
                        MullerNarrow Ultralight <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow extrabold col-md-4">
                        MullerNarrow Extrabold <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow bold col-md-4">
                        MullerNarrow Bold <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow black col-md-4">
                        MullerNarrow Black <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow medium col-md-4">
                        MullerNarrow Medium <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow hairline col-md-4">
                        MullerNarrow Hairline <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow heavy col-md-4">
                        MullerNarrow Heavy <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                    <div class="muller-narrow thin col-md-4">
                        MullerNarrow Thin <br/>
                        abcdefghijklmnopqrstuvwxyz <br/>
                        ABCDEFGHIJKLMNOPQRSTUVWXYZ <br/>
                        0123456789
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>

<div class="grid-helper"></div>

<script src="../js/default.js"></script>
</body>
</html>