// Site Web
$color-compte-nickel: #FF4C0E; // Main Color
$color-compte-nickel--dark: #ED4518; // Main Color Dark

// Base
$color-grey--light: #f2f2f2; // background
$color-grey : #bbbbbb; // borders + box-shadow + disabled
$color-grey--dark: #666666; // texts fields

// Validation
$color-red: #DB1519; // Erreur
$color-red-light: lighten($color-red, 30%); // Background Error

$color-green: #11AF11; // Success
$color-green--light: lighten($color-green, 30%); // Background Success

$color-yellow: #F9F040; // Clavier bouton corriger (numeric)

// Réseaux Sociaux
$color-facebook: #3B5998;
$color-twitter: #55ACEE;
$color-linkedin: #007BB6;