// Site Web
$color-compte-nickel: #f57528; // Main Color
$color-compte-nickel--light: #fdbd39; // Main Color Light
$color-compte-nickel--dark: #be5a1e; // Main Color Dark
$color-compte-nickel--darker: #FF6000; // Main Color Dark
//$color-peach: #ee6723;

// Base
$color-grey: #969696;
$color-grey--lighter: #f2f2f2;
$color-grey--light: #cccccc;
$color-grey--dark: #333333;
$color-grey--darker: #666666;
$color-grey--darkest: #999999;
$color-grey-box-shadow : #bbbbbb;
$color-grey-disabled: $color-grey--light;
$color-grey-input-disabled: #e6e6e6;

// Validation
$color-red: #d93f2b; // Erreur
$color-red-light: lighten($color-red, 30%); // Background Error

$color-green: #94ba1e; // Success
$color-green--light: lighten($color-green, 30%); // Background Success

// Clavier boutons
$color-yellow: #fecf33; // Clavier bouton corriger (numeric)
$color-cherry: #cc0044; // Clavier bouton corriger (global)
$color-green--flash: #00cc38; // Clavier bouton Valider