$basePathTypography: "../../" !default;

@font-face {
    font-family: "Lib-Nickel-Icon";
    src: url($basePathTypography + 'font/Lib-Nickel-Icon.woff') format('woff'),
    url($basePathTypography + 'font/Lib-Nickel-Icon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.icon:before,
 .icon-a:after {
     display: inline-block;
     font-family: "Lib-Nickel-Icon";
     font-style: normal;
     font-weight: normal;
     line-height: 1;
     vertical-align: baseline;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

.icon-lg {
     font-size: 2.3333333333333333rem;
     line-height: 0.75rem;
     vertical-align: -15%;
 }
.icon-2x { font-size: 2rem; }
.icon-3x { font-size: 3rem; }
.icon-4x { font-size: 4rem; }
.icon-5x { font-size: 5rem; }
.icon-fw {
     width: 1.2857142857142858rem;
     text-align: center;
 }

.icon-achat-internet:before, .icon-achat-internet-a:after { content: "\EA01" }
.icon-achat:before, .icon-achat-a:after { content: "\EA02" }
.icon-add-circle:before, .icon-add-circle-a:after { content: "\EA03" }
.icon-alert:before, .icon-alert-a:after { content: "\EA04" }
.icon-allocations:before, .icon-allocations-a:after { content: "\EA05" }
.icon-ampoule:before, .icon-ampoule-a:after { content: "\EA06" }
.icon-arrow-bottom-light:before, .icon-arrow-bottom-light-a:after { content: "\EA07" }
.icon-arrow-double:before, .icon-arrow-double-a:after { content: "\EA08" }
.icon-arrow-left-light:before, .icon-arrow-left-light-a:after { content: "\EA09" }
.icon-arrow-left:before, .icon-arrow-left-a:after { content: "\EA0A" }
.icon-arrow-right-light:before, .icon-arrow-right-light-a:after { content: "\EA0B" }
.icon-arrow-right:before, .icon-arrow-right-a:after { content: "\EA0C" }
.icon-arrow-top-light:before, .icon-arrow-top-light-a:after { content: "\EA0D" }
.icon-bad:before, .icon-bad-a:after { content: "\EA0E" }
.icon-bag-2:before, .icon-bag-2-a:after { content: "\EA0F" }
.icon-bag:before, .icon-bag-a:after { content: "\EA10" }
.icon-balance:before, .icon-balance-a:after { content: "\EA11" }
.icon-bolt:before, .icon-bolt-a:after { content: "\EA12" }
.icon-bubble:before, .icon-bubble-a:after { content: "\EA13" }
.icon-calendar:before, .icon-calendar-a:after { content: "\EA14" }
.icon-card-bank-back:before, .icon-card-bank-back-a:after { content: "\EA15" }
.icon-card-bank-front:before, .icon-card-bank-front-a:after { content: "\EA16" }
.icon-card-bank:before, .icon-card-bank-a:after { content: "\EA17" }
.icon-card-id:before, .icon-card-id-a:after { content: "\EA18" }
.icon-card-map:before, .icon-card-map-a:after { content: "\EA19" }
.icon-card-replace:before, .icon-card-replace-a:after { content: "\EA1A" }
.icon-check-around:before, .icon-check-around-a:after { content: "\EA1B" }
.icon-check-circle:before, .icon-check-circle-a:after { content: "\EA1C" }
.icon-check-square:before, .icon-check-square-a:after { content: "\EA1D" }
.icon-check:before, .icon-check-a:after { content: "\EA1E" }
.icon-clock:before, .icon-clock-a:after { content: "\EA1F" }
.icon-close-circle:before, .icon-close-circle-a:after { content: "\EA20" }
.icon-close:before, .icon-close-a:after { content: "\EA21" }
.icon-code:before, .icon-code-a:after { content: "\EA22" }
.icon-coffee:before, .icon-coffee-a:after { content: "\EA23" }
.icon-compte:before, .icon-compte-a:after { content: "\EA24" }
.icon-confetti:before, .icon-confetti-a:after { content: "\EA25" }
.icon-copy:before, .icon-copy-a:after { content: "\EA26" }
.icon-credit:before, .icon-credit-a:after { content: "\EA27" }
.icon-cursor:before, .icon-cursor-a:after { content: "\EA28" }
.icon-cutlery:before, .icon-cutlery-a:after { content: "\EA29" }
.icon-danger:before, .icon-danger-a:after { content: "\EA2A" }
.icon-debit:before, .icon-debit-a:after { content: "\EA2B" }
.icon-depot-cash:before, .icon-depot-cash-a:after { content: "\EA2C" }
.icon-devices:before, .icon-devices-a:after { content: "\EA2D" }
.icon-distributor:before, .icon-distributor-a:after { content: "\EA2E" }
.icon-divers:before, .icon-divers-a:after { content: "\EA2F" }
.icon-download:before, .icon-download-a:after { content: "\EA30" }
.icon-draw-card:before, .icon-draw-card-a:after { content: "\EA31" }
.icon-draw-holidays:before, .icon-draw-holidays-a:after { content: "\EA32" }
.icon-draw-letter:before, .icon-draw-letter-a:after { content: "\EA33" }
.icon-draw-tabac:before, .icon-draw-tabac-a:after { content: "\EA34" }
.icon-euro:before, .icon-euro-a:after { content: "\EA35" }
.icon-eye:before, .icon-eye-a:after { content: "\EA36" }
.icon-file:before, .icon-file-a:after { content: "\EA37" }
.icon-flag:before, .icon-flag-a:after { content: "\EA38" }
.icon-frais-nickel:before, .icon-frais-nickel-a:after { content: "\EA39" }
.icon-funnel:before, .icon-funnel-a:after { content: "\EA3A" }
.icon-gears:before, .icon-gears-a:after { content: "\EA3B" }
.icon-good:before, .icon-good-a:after { content: "\EA3C" }
.icon-graph:before, .icon-graph-a:after { content: "\EA3D" }
.icon-hamburger:before, .icon-hamburger-a:after { content: "\EA3E" }
.icon-helmet:before, .icon-helmet-a:after { content: "\EA3F" }
.icon-home:before, .icon-home-a:after { content: "\EA40" }
.icon-info-indispo-diverses:before, .icon-info-indispo-diverses-a:after { content: "\EA41" }
.icon-info:before, .icon-info-a:after { content: "\EA42" }
.icon-kite:before, .icon-kite-a:after { content: "\EA43" }
.icon-livret:before, .icon-livret-a:after { content: "\EA44" }
.icon-lock:before, .icon-lock-a:after { content: "\EA45" }
.icon-logo-carotte:before, .icon-logo-carotte-a:after { content: "\EA46" }
.icon-logo-nickel:before, .icon-logo-nickel-a:after { content: "\EA47" }
.icon-logout:before, .icon-logout-a:after { content: "\EA48" }
.icon-monument:before, .icon-monument-a:after { content: "\EA49" }
.icon-multimedia:before, .icon-multimedia-a:after { content: "\EA4A" }
.icon-network:before, .icon-network-a:after { content: "\EA4B" }
.icon-nickel-chrome:before, .icon-nickel-chrome-a:after { content: "\EA4C" }
.icon-nickel-closed:before, .icon-nickel-closed-a:after { content: "\EA4D" }
.icon-pen:before, .icon-pen-a:after { content: "\EA4E" }
.icon-phone:before, .icon-phone-a:after { content: "\EA4F" }
.icon-piece:before, .icon-piece-a:after { content: "\EA50" }
.icon-plane:before, .icon-plane-a:after { content: "\EA51" }
.icon-prelevement-tip:before, .icon-prelevement-tip-a:after { content: "\EA52" }
.icon-prelevement:before, .icon-prelevement-a:after { content: "\EA53" }
.icon-question-circle:before, .icon-question-circle-a:after { content: "\EA54" }
.icon-rejet-prelevement:before, .icon-rejet-prelevement-a:after { content: "\EA55" }
.icon-rejet-virement:before, .icon-rejet-virement-a:after { content: "\EA56" }
.icon-remboursement:before, .icon-remboursement-a:after { content: "\EA57" }
.icon-retrait-cash:before, .icon-retrait-cash-a:after { content: "\EA58" }
.icon-retrait-distributeur:before, .icon-retrait-distributeur-a:after { content: "\EA59" }
.icon-search:before, .icon-search-a:after { content: "\EA5A" }
.icon-shopping:before, .icon-shopping-a:after { content: "\EA5B" }
.icon-similar:before, .icon-similar-a:after { content: "\EA5C" }
.icon-smiley-angry:before, .icon-smiley-angry-a:after { content: "\EA5D" }
.icon-facebook-circle:before, .icon-facebook-circle-a:after { content: "\EA5E" }
.icon-linkedin-circle:before, .icon-linkedin-circle-a:after { content: "\EA5F" }
.icon-twitter-circle:before, .icon-twitter-circle-a:after { content: "\EA60" }
.icon-square:before, .icon-square-a:after { content: "\EA61" }
.icon-star:before, .icon-star-a:after { content: "\EA62" }
.icon-student:before, .icon-student-a:after { content: "\EA63" }
.icon-tabac-empty:before, .icon-tabac-empty-a:after { content: "\EA64" }
.icon-tabac:before, .icon-tabac-a:after { content: "\EA65" }
.icon-ticket:before, .icon-ticket-a:after { content: "\EA66" }
.icon-touch-id:before, .icon-touch-id-a:after { content: "\EA67" }
.icon-transport:before, .icon-transport-a:after { content: "\EA68" }
.icon-user-add:before, .icon-user-add-a:after { content: "\EA69" }
.icon-user-circle:before, .icon-user-circle-a:after { content: "\EA6A" }
.icon-user-multi:before, .icon-user-multi-a:after { content: "\EA6B" }
.icon-user:before, .icon-user-a:after { content: "\EA6C" }
.icon-wage-slip:before, .icon-wage-slip-a:after { content: "\EA6D" }
.icon-wave:before, .icon-wave-a:after { content: "\EA6E" }