.grid-helper {

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  color: #FFFFFF;
  text-align: center;

  &:before {
    content: '4 cols';
  }

  @include media-breakpoint-down(lg) {
    &:before {
      content: '3 cols';
    }
  }
  @include media-breakpoint-down(md) {
    &:before {
      content: '2 cols';
    }
  }
  @include media-breakpoint-down(sm) {
    &:before {
      content: '1 cols';
    }
  }

}