
/* Typography
----------------------------------------- */

@mixin mqr-subpixel-antialiased {
    -webkit-font-smoothing: antialiased;

    /* media query for subpixel-antialiased custom font in retina device
     * src : http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
     * used on typo and not in html tag or * selector because of font-icon use.
     */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (min--moz-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 120dpi), // Surface Pro 2
    only screen and (min-resolution: 1.3dppx) {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

$default-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

%roboto-regular {  font-family: Roboto-Regular;  }
%roboto-black {  font-family: Roboto-Black;  }
%roboto-bold {  font-family: Roboto-Bold;  }
%roboto-light {  font-family: Roboto-Light;  }
%roboto-medium {  font-family: Roboto-Medium;  }

%vag-rounded-bold {  font-family: Vag-Rounded-Bold;  }
%vag-rounded-light {  font-family: Vag-Rounded-Light;  }

/* ROBOTO FONT FACE */
@font-face {
    font-family: 'Roboto-Regular';
    src: url($basePathTypography + 'font/Roboto-Regular-webfont.woff2') format('woff2'), url($basePathTypography + 'font/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url($basePathTypography + 'font/Roboto-Black-webfont.woff2') format('woff2'), url($basePathTypography + 'font/Roboto-Black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url($basePathTypography + 'font/Roboto-Bold-webfont.woff2') format('woff2'), url($basePathTypography + 'font/Roboto-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url($basePathTypography + 'font/Roboto-Light-webfont.woff2') format('woff2'), url($basePathTypography + 'font/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url($basePathTypography + 'font/Roboto-Medium-webfont.woff2') format('woff2'), url($basePathTypography + 'font/Roboto-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* VAG ROUNDED FONT FACE */
@font-face {
    font-family: 'Vag-Rounded-Bold';
    src: url($basePathTypography + 'font/vag_rounded_bold-webfont.woff2') format('woff2'), url($basePathTypography + 'font/vag_rounded_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vag-Rounded-Light';
    src: url($basePathTypography + 'font/vag_rounded_light_ssi_light-webfont.woff2') format('woff2'), url($basePathTypography + 'font/vag_rounded_light_ssi_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}